<style>
	/*.sell-intro {*/
		/*position:relative;*/
	/*}*/
	/*.sell-intro__option {*/
		/*position:relative;*/
	/*}*/
	/*.sell-intro__action {*/
		/*position:absolute;*/
		/*width:100%;*/
		/*height:100%;*/
		/*z-index:10;*/
	/*}*/

</style>
<!--<section class="block row full-width collapse sell-intro hide-for-medium-up hide-for-small-only">-->

	<!--<div class="medium-6 columns sell-intro__option">-->
		<!--<div class="sell-intro__action">-->
			<!--<div class="medium-4 column medium-push-4 centered">-->
				<!--<div class="button small">Become a Member</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<%= image_tag("male_pose_square.jpg", height: 'auto', width: '100%') %>-->
	<!--</div>-->
	<!--<div class="medium-6 columns sell-intro__option">-->
		<!--<div class="sell-intro__action">-->
			<!--<div class="medium-4 column medium-push-4 centered" style="bottom:1px;">-->
				<!--<div class="button small">Become a Member</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--<%= image_tag("male_pose_square.jpg", height: 'auto', width: '100%') %>-->
	<!--</div>-->
<!--</section>-->



<%= render 'blocks/nolympia' %>
<%= render 'blocks/about' %>
<%= render 'blocks/social' %>
<%= render 'blocks/world_events' %>
<%= render 'blocks/member_news' %>
<%= render 'blocks/sponsors' %>

